.input-line-container input {
    background-color: var(--red-bright);
    border: 0;
    outline: none;
    font-family: acumin-pro, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: white;
    width: 100%;
}

@media(max-width: 414px) {
    .input-line-container input {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}