.slider {
    position: relative;
}

.slick-slider {
    margin-top: 45px;
}

.slick-slider .slick-arrow {
    display: flex;
    justify-content: flex-start;
}

.slick-list {
    padding: 0;
}

.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5px;
}

.slick-initialized .slick-cloned {
    display: none;
    z-index: -1;
}

.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-active {
    border: 2px solid #010101;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px; 
}

.slick-center {
    background: linear-gradient(180deg, rgba(204, 23, 1, 0.8) 0%, rgba(153, 18, 0, 0.8) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 0;
    height: 300px;
    color: white;
}

.slick-center a {
    color: white;
}

.slick-dots li.slick-active button:before {
    height: 13px;
    opacity: .75;
    color: #991220;
}

.slick-dots li button:before {
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .5;
    color: #991220;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-active {
    border: none;
    box-sizing: none;
    box-shadow: none;
    border-radius: none;
}

.slick-next::before, .slick-prev::before {
	padding: 17px;
	background-image: url('../../assets/arrow rightSVG.svg');
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
    outline: 0;
    opacity: 0.75;
    display: none;
	background-position: center;
    cursor: pointer;
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 1;
    opacity: 1;
    display: none;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev::before{
    background-image: url('../../assets/Vector (3).svg');
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    display: none;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
