.datas {

    height: 192px;
    width: 330px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.datas h2 {
    font-size: 22px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600px;
    line-height: 26.4px;
}

.datas p {
    font-size: 16px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400px;
    line-height: 19.2px;
}

.datas a {
    font-size: 16px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400px;
    color: black;
}