.datas {
    height: 192px;
    width: 330px;
     margin: 26px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.datas h2 {
    font-size: 22px;
    font-family: acumin-pro, sans-serif;
    font-weight: 600px;
    line-height: 26.4px;
}

.datas p {
    font-size: 16px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400px;
    line-height: 19.2px;
}

.datas a {
    font-size: 16px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400px;
    color: black;
}


@media screen and (max-width: 1056px){
    .datas{
        padding: 8px;
    }
}

@media screen and (max-width: 988px){
    .datas{
        padding: 30px;
    }  
}

@media screen and (max-width: 950px){
 .datas h2 {
    line-height: 67px;
}
}

@media screen and (max-width: 888px){
.datas h2 {
font-size: 20px;
line-height: 24px;
letter-spacing: 0em;

}

 .datas{
        padding: 0px;
    }  
.datas p {
font-size: 14px;
line-height: 17px;
}

.datas a {
    font-size: 14px;
    line-height: 16.8px;
}

}