*{
     font-family: acumin-pro, sans-serif;
     box-sizing: border-box;
}

body {
    background-color: var(--white-dark);
}

.LinkedIn-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.LinkedIn-section .head {
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    width: 93.5px;
    margin-left: 215px;
}

#lines {
    width: 150px;
    margin-right: 184px;
}

.LinkedIn-section .head .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LinkedIn-section .head .title h1 {
    font-size: 38px;
    margin-bottom: 30px;
}

.LinkedIn-section .head .title a {
    font-size: 18px;  
    color: black;
}

.LinkedIn-section .carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LinkedIn-section .carousel .set-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LinkedIn-section .carousel .set-center .navigate {
    width: 120px;

    margin-top: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}


.LinkedIn-section .carousel .arrows {
    width: 91px;

    display: flex;
    justify-content: space-between;
}