
.nav-galeria{
	width: 50%;
}

.ClientDescription-wraper{
    outline: none;
}
.Description-wraper{
width:87%;
}
#testimonial .parent-box .slick-cloned > div, #testimonial .parent-box  .slick-active > div{
	margin: -10px;
}

#testimonial .parent-box  .slick-slide{
	transform: scale(0.8);
	transition: all ease 0.5%;
    outline: none;
}

#testimonial .parent-box  .slick-current {
	transform: scale(0.95);
	position: relative;
}
#testimonial .parent-box  .slick-prev{
	display: none;
}

#testimonial .parent-box  .icon_right{
	text-align: right;
    margin: 11px 0;
    position: relative;
    top: -25px;
}
.dot-container{
    width: max-width;
    position: relative;
    bottom: 3px;
}
#testimonial .parent-box  .slick-dots{
    background-color: #ffffff05;
    width: max-content;
    list-style-type: none;
    text-align: center;
    margin: 15px -550px;
    position: relative;
}

#testimonial .parent-box  ul.dot-container li{
	display: inline-block;
	margin: 15px 5px;
}
/*
#testimonial .parent-box ul.dot-container li button{
	height: 14px;
	width: 14px;
	margin: 0 5px;
	background: rgba(153, 18, 0, 0.5);
	display: inline-block;
	border-radius: 10px;
	position: relative;
	top: -8px;
	cursor: pointer;
	outline: 0;
	border:0;
}
#testimonial .parent-box  .slick-dots li.slick-active button{
    background: rgba(153, 18, 0, 0.75);
    height: 16px;
    width: 16px;
}
*/
#testimonial .parent-box  .slick-dots li button, #testimonial .parent-box  .slick-next, #testimonial .parent-box  .slick-prev{
	font-size: 0;
}

#testimonial .parent-box .Next{
	background-image: url('../images/arrow rightSVG.svg');
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	outline: 0;
	background-color: #ffffff05;
	background-position: right;
	margin: -26px 0;
    margin-right: -29px;
    float: right;
	padding: 20px;
    cursor: pointer;
}
#testimonial .parent-box .Prev{
	background-image: url('../images/arrowLeft.svg');
	margin: -64px 0;
    padding: 20px;
    margin-left: -24px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    cursor: pointer;
}

#testimonial .parent-box  .slick-dots li button:before {
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .5;
    color: #991220;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#testimonial .parent-box  .slick-dots li.slick-active button:before {
    height: 13px;
    opacity: .75;
    color: #991220;
}


@media screen and (max-width: 1150px){
#testimonial .parent-box .slick-dots{
    top: -4px;
    left: -465px;
    margin: 50px 0;
}

}

@media screen and (max-width: 1094px){
#testimonial .parent-box .slick-dots{
    top: 0px;
    left: -450px;
}


}

@media screen and (max-width: 1030px){
#testimonial .parent-box .slick-dots{
    top: 20px;
    left: -470px;
}
}

@media screen and (max-width: 1024px){
#testimonial .parent-box  .slick-dots{
    top: -5px;
    left: -400px;
}
}

@media screen and (max-width: 962px){
#testimonial .parent-box .slick-dots{
    top: 6px;
    left: -387px;
}

}

@media screen and (max-width: 938px){
#testimonial .parent-box  .slick-dots {
    top: 8px;
    left: -365px;
}
}

@media screen and (max-width: 900px){
#testimonial .parent-box .slick-dots{
    top: 6px;
    left: -352px;
}
}

@media screen and (max-width: 889px){
#testimonial .parent-box  .slick-dots{
    top: 9px;
    left: -348px;
}

}
@media screen and (max-width: 850px){
#testimonial .parent-box  .slick-dots {
    top: -340px;
        left: 120px;
    margin-left: -104px;

}
.nav-galeria {
   width: 80%;
   margin-top: -96px;
}
#testimonial .parent-box .icon_right {
    text-align: right;
    margin: 11px 0;
    position: relative;
    top: -180px;
}
}
@media screen and (max-width: 724px){
#testimonial .parent-box  .slick-dots{
  top: -300px;
    left: 118px;
}
}

@media screen and (max-width: 644px){
#testimonial .parent-box .slick-dots{
   top: -276px;
    left: 121px;
}
}

@media screen and (max-width: 620px){
#testimonial .parent-box .slick-dots{
   left: 121px;
}
}

@media screen and (max-width: 535px){
#testimonial .parent-box  .slick-dots{
   top: -238px;
    left: 118px;
}

#testimonial .parent-box  ul.dot-container li button{
	height: 12px;
	width: 12px;
}
}

@media screen and (max-width: 479px){
#testimonial .parent-box  .slick-dots{
    top: -385px;
}

#testimonial .parent-box .dot-container{
margin-left: 10px;
}
.nav-galeria {
    margin-top: -80px;
}

}


@media screen and (max-width: 425px){
#testimonial .parent-box .slick-dots{
    top: -344px;
}
#testimonial .parent-box ul.dot-container li button{
	margin-left: 8px;
}

#testimonial .parent-box .icon_right {
    top: -340px;
}
}

@media screen and (max-width: 390px){
#testimonial .parent-box .slick-dots{
     top: -20px;
}

#testimonial .parent-box .icon_right {
    top: -340px;
}
.nav-galeria{
	margin-top: -120px;
}
#testimonial .parent-box .slick-dots{
    top: 20px;
}
}

@media screen and (max-width: 280px){

#testimonial .parent-box .icon_right {
   display: none;
}

}



