*{
font-family: acumin-pro, sans-serif;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

section{
	margin: 300px 0;
}

.parent-box{
	display: flex;
	flex-wrap: nowrap;
}

.parent-box h1{
font-size: 32px;
line-height: 38.4px;
display: inline-block;

}

.arrow_right, .arrow_left{
	cursor: pointer;
}
.arrow_right{
	position: relative;
	top: 8px;
}

.Arrows span{
	height: 12px;
	width: 12px;
	margin: 0 5px;
	background-color: #ccc;
	display: inline-block;
	border-radius: 6px;
	position: relative;
	top: -8px;
	cursor: pointer;
}
