*{
font-family: acumin-pro, sans-serif;
}

.container{
	max-width: 1920px;
	padding: 0 2%;
	margin: 0 auto;
}

.box-right h2{
	font-size: 22px;
	line-height: 26.4px;
}

.box-riht p{
	font-size: 18px;
    line-height: 21.6px;
}