#footer-section {
    background-color: var(--red-dark);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 105px;
}

#footer-section p {
    color: white;
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

#footer-section .hearth-icon {
    width: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

#footer-section .code_icon {
    width: 17px;
    margin-left: 7px;
    margin-right: 7px;
}

#footer-section img {
    width: 90px;
}

@media(max-width: 768px) {
    #footer-section {
        flex-direction: column;
        justify-content: space-evenly;
        height: 209px;
    }
}