.card-service {
    position: relative;
    width: 295px;
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--red-bright);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 56px 28px 49px 28px;
}

.card-service .cs-title-image-container {
    position: absolute;
    top: -35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    width: 80%;
    height: 60px;
    z-index: 1;
}

.card-service .cs-title-image-container h2 {
    max-width: 140px;
    color: var(--red-bright);
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

.card-service .cs-title-image-container img {
    width: 47px;
}

.card-service p {
    font-size: 16px;
    line-height: 19px;
}

.card-service a {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 15px;
    color: var(--black-virtu);
}

@media(max-width: 768px) {
    .card-service {
        height: 167px;
    }

    .card-service h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
}