.card-service {
    width: 295px;
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--red-bright);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 16px 24px;
}

.card-service .cs-title-image-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.card-service .cs-title-image-container h2 {
    max-width: 150px;
}