.our-services-container {
    /* height: 845px; */
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* column-gap: 60px; */
}

/* .our-services-container .card-services-container-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1140px;
} */

.our-services-container .red-section-top {
    /* width: 30%; */
    height: 292px;
    background-color: var(--salmon);
    border-radius: 0px 50px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* grid-column: 1/3; */
}

.our-services-container .red-section-top h1 {
    color: white;
    max-width: 250px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}

.our-services-container .red-section-bottom {
    /* width: 40%; */

    height: 292px;
    /* right: 0; */
    background-color: var(--salmon);
    border-radius: 10px 0px 0px 50px;
    padding: 55px 64px;
}

@media(max-width: 768px) {
    .our-services-container {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}