
/* Style box single */


.box-single{
	text-align: center;
	margin: 25px 30px;
	width: 23%;
	height: auto;
	border-radius: 10px;
	color: #F5F5F5;
	padding: 30px 8px;
	line-height: 20px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	bottom: -52px;
}

.box-single img{
	margin: 5px 0;
}
.box-single h2{
	font-size: 22px; 
	line-height: 26.4px;
	margin: 15px 0;
}

.box-single p{
  font-size: 16px;
  line-height: 19.2px;
  margin: 15px 0;
}
