
/* Style ourhistory section  */
*{
  	font-family: acumin-pro, sans-serif;
 }

.clear{
	clear: both;
}
 .container{
 	max-width: 1920px;
 	padding: 0 2%;
 	margin: 0 auto;
 }

section{
	margin-top: 184px;
	margin-bottom: 224px;
}
 .call{
 	text-align: center;
 	width: 60%;
 	margin: 45px auto;
 }

 .call h1{
 	margin: 27px 0;
 	font-size: 32px;
 	line-height: 38.4px;
 }

 .box-parent{
 	display: flex;
 	flex-wrap: nowrap;
 	padding-left: 166px;

 }

.img-mid{
text-align: center;
}

.img-left{
	display: inline-block;
	position: relative;
	bottom: -110px;
	margin-left: 30px;
}

.img-right img{
transform: translateX(8px) rotate(-90deg) translateY(1px);
position: absolute;
right: -18%;
bottom: -20%;
width: 45%;
}