
/* Style ourhistory section  */
*{
  	font-family: acumin-pro, sans-serif;
 }

.clear{
	clear: both;
}
 .container{
 	max-width: 1920px;
 	padding: 0 2%;
 	margin: 0 auto;
 }

section{
	margin-top: 184px;
	margin-bottom: 224px;
}
 .call{
 	text-align: center;
 	width: 60%;
 	margin: 45px auto;
 }

 .call h1{
 	margin: 27px 0;
 	font-size: 32px;
 	line-height: 38.4px;
 }

 .box-parent{
 	display: flex;
 	flex-wrap: nowrap;
 	padding-left: 166px;

 }

.img-mid{
text-align: center;
}

.img-left{
	display: inline-block;
	position: relative;
	bottom: -110px;
	margin-left: 30px;
}

.img-right{
	margin: 30px 0;
}
.img-right img{
transform: translateX(8px) rotate(-90deg) translateY(1px);
position: absolute;
right: -18%;
width: 45%;
}

@media screen and (max-width: 1200px){
 .box-parent{
 	flex-wrap: nowrap;
 	padding-left: 70px;
 }

.img-right img{
right: -18%;
width: 47%;
}

.call{
 	width: 70%;
 }

 .img-left{
	position: relative;
	bottom: -80px;
	margin-left: 30px;
}

}

@media screen and (max-width: 1120px){
 .box-parent{
 	padding-left: 20px;
 }

.img-right img{
right: -17%;
width: 45%;
transform: translateX(8px) rotate(-90deg) translateY(10px);
}


}

@media screen and (max-width: 1024px){
 .box-parent{
 	flex-wrap: nowrap;
 	padding-left: 20px;
 }

.img-right img{
right: -16%;
width: 44%;
}


}

@media screen and (max-width: 1000px){
.img-right img{
right: -16%;
width: 44%;

}
.call{
 	width: 80%;
 }



}


@media screen and (max-width: 980px){
.img-right img{
right: -16%;
width: 44%;
}

.img-left{
	bottom: -70px;
	margin-left: 35px;
}

.call{
 	width: 80%;
 }

}

@media screen and (max-width: 768px){
.img-left{
	bottom: -20px;
	margin-left: 43px;
}

.call{
 	width: 85%;
 }

}
@media screen and (max-width: 880px){

.box-parent{
 	flex-wrap: wrap;
 }

.img-right img{
 display: none;
}

}

@media screen and (max-width: 500px){
.img-mid{
text-align: right;
}

}