
.banner-section {
    height: 100vh;

    background: url('../../assets/background.png') no-repeat center center / cover;

    display: flex;
    justify-content: space-around;
}

.background-img {
    position: absolute;
    height: 1080px;
    opacity: 0;
    z-index: -1;
}

.banner-section .text {
    width: 360px;
    height:  228px;

    padding-top: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner-section .text h1 {
    font-family: 'Acumin Pro', sans serif;
    font-weight: 600;
    font-size: 32px;

    display: flex;
    flex-wrap: wrap;

    color: var(--red-bright);
}

.banner-section .text p {
    font-family: 'Acumin Pro', sans serif;
    font-weight: normal;
    font-size: 16px;

    padding-top: 30px;

    line-height: 19px;
}

.banner-section .text button {
    background: var(--red-bright);

    width: 61%;
    margin-top: 30px;

    cursor: pointer;

    box-shadow: 0px 4px 4px black;
    border-radius: 17.5px;
    border: none;
}

.banner-section .text button h3 {

    color: white;

    height: 35px;
    padding-top: 3px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Acumin Pro', sans serif;
    font-weight: 500;
    font-size: 18px;
}

.banner-section .rectangle {
    background: linear-gradient(162.52deg, rgba(204, 23, 1, 0.8) 0%, rgba(153, 18, 0, 0.8) 99.99%, rgba(153, 18, 0, 0.8) 100%);

    width: 420px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-white {
    width: 57.1%;
    opacity: 1; 
}
