:root {
    --red-bright: #CC1701;
    --red-dark: #991200;
    --black-virtu: #010101;
    --white-dark: #F5F5F5;
    --salmon: #D55140;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}