html {
  scroll-behavior: smooth;
}

.navbar-section .connect .sections .list .current {
  font-weight: 600;
}

.navbar-section {
  height: 75px;
  width: 100%;
  background: var(--white-dark);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;

  position: fixed;
  z-index: 2;
}

#logo {
  height: 45px;
}

.navbar-section .connect {
  grid-column: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-section .connect .sections .list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#names {
  display: flex;
}

.navbar-section .connect .icon {
  display: none;
  cursor: pointer;
}

.navbar-section .connect .sections a {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: black;

  margin-left: 30px;

  text-decoration: none;
  cursor: pointer;
}

.navbar-section .connect .sections .list .on-mobile {
  display: none;
}

#logo-mobile {
  height: 60px;
}

.navbar-section .connect .sections .list .on-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 60px;
}

.navbar-section .connect .sections .list .on-mobile ul li {
  display: flex;
  justify-content: center;
}

.navbar-section .connect .sections .list .on-mobile ul li p {
  padding-right: 10px;
  font-size: 14px;
  font-family: acumin-pro, sans-serif;
}

@media (max-width: 1200px) {
  .navbar-section .connect .sections a {
    margin-left: 25px;
  }
}

@media (max-width: 1100px) {
  .navbar-section .connect .sections a {
    margin-left: 20px;
  }
}

@media (max-width: 1020px) {
  .navbar-section {
    grid-template-columns: 10% 80% 10%;
  }
}

@media (max-width: 900px) {
  .navbar-section {
    grid-template-columns: 5% 90% 5%;
  }
}

@media (max-width: 810px) {
  .navbar-section {
    grid-template-columns: 3% 94% 3%;
  }
}

@media (max-width: 780px) {
  .navbar-section {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 768px) {
  .navbar-section {
    grid-template-columns: 9% 82% 9%;
  }

  .navbar-section .connect .icon {
    display: block;
    position: fixed;
    top: 25px;
    right: 35px;
    z-index: 11;
  }

  .navbar-section .connect .sections .list {
    height: 100vh;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #f5f5f5;
    transition: all 1s ease;
  }

  .navbar-section .connect .sections .list {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  #names {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 240px;
    margin-top: 146px;
  }

  .navbar-section .connect .sections a {
    margin-left: 0px;
    font-size: 20px;
  }

  .navbar-section .connect .sections .list .on-mobile {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-bottom: 150px;
  }

  .navbar-section .connect .sections .list .names li {
    margin-top: 30px;
  }
}
